<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Hello World for you">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="images/photo-square.jng">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <title>The Autobiography</title>
</head>
<body>
<header>
    <app-bar></app-bar>
</header>
<main id="main-content">
    <h1 class="label-title">The Autobiography</h1><hr>
    <section class="col-2" id="about-me">
        <div>
            <img id="photo" src="images/photo.jpg" alt="My Photo">
        </div>
        <div>
            <h6 class="label-info">Name</h6>
            <h5>Choridatul Bahiyyah</h5>
            <h6 class="label-info">Place and Date of Birth</h6>
            <h5>Gresik, 26 Desember 2001</h5>
            <h6 class="label-info">Address</h6>
            <h5>Leran Manyar Gresik</h5>
            
            <p class="description">
                <h6 class="label-info">Favorites</h6>
                <ul style="list-style-type: none;">
                    <li>Nyemil :)</li>
                    <li>Cake, Candy, specially sweetness</li>
                    <li>Doesn't like eggplants :v</li>
                    <li>Likes to eat spicy, but can't</li>
                </ul><br>
                <h6 class="label-info">SeLf Made Reminder</h6>
                One day has a time of 24 hours, the average time used for sleep is 8 hours, 
                while the time used for pray, study, work and others is approximately 16 hours.
                In a week, bedtime takes up almost half of the time used for activities, reaching 56 hours or 2 days 3 hours. 
                Compared to the time for activities as much as 4 days 21 hours.
                
                In a month, sleep time consumes one-third of the month, which is 10 days, 
                so there are 20 days left for other activities.
                in 1 year, as many as 2920 hours were spent sleeping, approximately 4 months. 

                So, when knowing this. how much pray is done? 
                whereas in the remaining 8 months, that time is divided into other things. 
                In addition, it also does not escape from being wrong and forgetting
            </p>
        </div>
    </section>
    <section class="info" id="learning-at">
        <div class="card card-study">
            <h6 class="label-education">Education</h6>
            <div class="px-1">
                <h6 class="label-info">2007 - 2013</h6>
                <h5>MI Nurul Huda</h5>
                <h6 class="label-info">2013 - 2016</h6>
                <h5>MTs Nurul Huda</h5>
                <h6 class="label-info">2016 - 2018</h6>
                <h5>MA Al-Ibrahimi</h5>
                <h6 class="label-info">2018 - 2019</h6>
                <h5>MA YASMU</h5>
                <h6 class="label-info">2019 - Now</h6>
                <h5>Universitas Muhammadiyah Gresik</h5>
            </div>
        </div>
        <div class="card card-activities">
            <h6 class="label">Activities</h6>
            <div class="px-1">
                <h5>Study at University of Muhammadiyah Gresik</h5>
            </div>
        </div>
        <div class="card card-hobby">
            <h6 class="label">Hobbies</h6>
            <div class="px-1">
                <ul class="list-hobbies">
                    <li>Painting</li>
                    <li>Reading</li>
                    <li>Coding</li>
                </ul>
            </div>
        </div>
    </section>
</main>
<footer>
    <info-app></info-app>
</footer>
</body>
</html>
